In [1]:
from sqlalchemy import create_engine

%load_ext sql

drivername = "postgresql"
username = "postgres"
password = "postgres"
host = "localhost"
port = "5432"
database = "analysis"

db_url = f"{drivername}://{username}:{password}@{host}/{database}"
engine = create_engine(db_url)

%sql engine

In [6]:
%%sql

CREATE TABLE char_data_types (
    char_column char(10),
    varchar_column varchar(10),
    text_column text
);

Running query in 'postgresql://postgres:***@localhost/analysis'

++
||
++
++

In [7]:
%%sql
INSERT INTO char_data_types
VALUES
    ('abc', 'abc', 'abc'),
    ('defghi', 'defghi', 'defghi');

Running query in 'postgresql://postgres:***@localhost/analysis'

2 rows affected.

++
||
++
++

In [10]:
%%sql
select * from char_data_types

Running query in 'postgresql://postgres:***@localhost/analysis'

2 rows affected.

+-------------+----------------+-------------+
| char_column | varchar_column | text_column |
+-------------+----------------+-------------+
|  abc        |      abc       |     abc     |
|  defghi     |     defghi     |    defghi   |
+-------------+----------------+-------------+

In [17]:
%%sql

COPY char_data_types TO '/tmp/typetest.txt'
WITH (FORMAT CSV, HEADER, DELIMITER '|');

Running query in 'postgresql://postgres:***@localhost/analysis'

2 rows affected.

++
||
++
++

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql