Desafio 03 del modulo de SQL

```sql
%%sql

CREATE DATABASE desafio03;
```

In [1]:
from sqlalchemy import create_engine

%load_ext sql
%config SqlMagic.displaylimit = None

drivername = "postgresql"
username = "postgres"
password = "postgres"
host = "localhost"
port = "5432"
# database = "postgres"
database = "desafio03"

db_url = f"{drivername}://{username}:{password}@{host}/{database}"
engine = create_engine(db_url)

%sql engine

displaylimit: Value None will be treated as 0 (no limit)

```sql
%%sql

CREATE TABLE inscritos(cantidad INT, fecha DATE, fuente VARCHAR);

INSERT INTO INSCRITOS(cantidad, fecha, fuente)
VALUES
( 44, '01/01/2021', 'Blog'),
( 56, '01/01/2021', 'Página'),
( 39, '02/01/2021', 'Blog'),
( 81, '02/01/2021', 'Página'),
( 12, '03/01/2021', 'Blog'),
( 91, '03/01/2021', 'Página'),
( 48, '04/01/2021', 'Blog'),
( 45, '04/01/2021', 'Página'),
( 55, '05/01/2021', 'Blog'),
( 33, '05/01/2021', 'Página'),
( 18, '06/01/2021', 'Blog'),
( 12, '06/01/2021', 'Página'),
( 34, '07/01/2021', 'Blog'),
( 24, '07/01/2021', 'Página'),
( 83, '08/01/2021', 'Blog'),
( 99, '08/01/2021', 'Página');
```

In [2]:
%%sql

select * from inscritos;

Running query in 'postgresql://postgres:***@localhost/desafio03'

16 rows affected.

+----------+------------+--------+
| cantidad |   fecha    | fuente |
+----------+------------+--------+
|    44    | 2021-01-01 |  Blog  |
|    56    | 2021-01-01 | Página |
|    39    | 2021-02-01 |  Blog  |
|    81    | 2021-02-01 | Página |
|    12    | 2021-03-01 |  Blog  |
|    91    | 2021-03-01 | Página |
|    48    | 2021-04-01 |  Blog  |
|    45    | 2021-04-01 | Página |
|    55    | 2021-05-01 |  Blog  |
|    33    | 2021-05-01 | Página |
|    18    | 2021-06-01 |  Blog  |
|    12    | 2021-06-01 | Página |
|    34    | 2021-07-01 |  Blog  |
|    24    | 2021-07-01 | Página |
|    83    | 2021-08-01 |  Blog  |
|    99    | 2021-08-01 | Página |
+----------+------------+--------+

# 1. ¿Cuántos registros hay?

In [3]:
%%sql
SELECT count(*) AS conteo_registros FROM inscritos;

Running query in 'postgresql://postgres:***@localhost/desafio03'

1 rows affected.

+------------------+
| conteo_registros |
+------------------+
|        16        |
+------------------+

# 2. ¿Cuántos inscritos hay en total?

In [4]:
%%sql
SELECT SUM(cantidad) as total_inscritos FROM inscritos;

Running query in 'postgresql://postgres:***@localhost/desafio03'

1 rows affected.

+-----------------+
| total_inscritos |
+-----------------+
|       774       |
+-----------------+

# 3. ¿Cuál o cuáles son los registros de mayor antigüedad?

In [5]:
%%sql
SELECT * FROM inscritos
WHERE fecha = (
    SELECT MIN(fecha) FROM inscritos
);

Running query in 'postgresql://postgres:***@localhost/desafio03'

2 rows affected.

+----------+------------+--------+
| cantidad |   fecha    | fuente |
+----------+------------+--------+
|    44    | 2021-01-01 |  Blog  |
|    56    | 2021-01-01 | Página |
+----------+------------+--------+

# 4. ¿Cuántos inscritos hay por día? (Indistintamente de la fuente de inscripción)

In [6]:
%%sql
SELECT fecha, SUM (cantidad) AS inscritos_por_dia
FROM inscritos
GROUP BY fecha
ORDER BY fecha;

Running query in 'postgresql://postgres:***@localhost/desafio03'

8 rows affected.

+------------+-------------------+
|   fecha    | inscritos_por_dia |
+------------+-------------------+
| 2021-01-01 |        100        |
| 2021-02-01 |        120        |
| 2021-03-01 |        103        |
| 2021-04-01 |         93        |
| 2021-05-01 |         88        |
| 2021-06-01 |         30        |
| 2021-07-01 |         58        |
| 2021-08-01 |        182        |
+------------+-------------------+

# 5. ¿Cuántos inscritos hay por fuente?

In [7]:
%%sql
SELECT fuente, SUM (cantidad) AS inscritos_por_fuente
FROM inscritos
GROUP BY fuente;

Running query in 'postgresql://postgres:***@localhost/desafio03'

2 rows affected.

+--------+----------------------+
| fuente | inscritos_por_fuente |
+--------+----------------------+
| Página |         441          |
|  Blog  |         333          |
+--------+----------------------+

# 6. ¿Qué día se inscribió la mayor cantidad de personas? Y ¿Cuántas personas se inscribieron en ese día?

In [8]:
%%sql
SELECT fecha, SUM (cantidad) AS inscritos_por_dia
FROM inscritos
GROUP BY fecha
ORDER BY inscritos_por_dia DESC
LIMIT 1;

Running query in 'postgresql://postgres:***@localhost/desafio03'

1 rows affected.

+------------+-------------------+
|   fecha    | inscritos_por_dia |
+------------+-------------------+
| 2021-08-01 |        182        |
+------------+-------------------+

# 7. ¿Qué días se inscribieron la mayor cantidad de personas utilizando el blog? ¿Cuántas personas fueron?

In [9]:
%%sql
SELECT * FROM inscritos
WHERE cantidad = (
    SELECT MAX(cantidad) FROM inscritos
    WHERE fuente = 'Blog'
) LIMIT 1;

Running query in 'postgresql://postgres:***@localhost/desafio03'

1 rows affected.

+----------+------------+--------+
| cantidad |   fecha    | fuente |
+----------+------------+--------+
|    83    | 2021-08-01 |  Blog  |
+----------+------------+--------+

In [22]:
%%sql
SELECT fecha, ROUND(AVG(cantidad), 1) AS inscritos_por_dia FROM inscritos
WHERE fuente = 'Blog'
GROUP BY fecha
ORDER BY inscritos_por_dia DESC;

Running query in 'postgresql://postgres:***@localhost/desafio03'

8 rows affected.

+------------+-------------------+
|   fecha    | inscritos_por_dia |
+------------+-------------------+
| 2021-08-01 |        83.0       |
| 2021-05-01 |        55.0       |
| 2021-04-01 |        48.0       |
| 2021-01-01 |        44.0       |
| 2021-02-01 |        39.0       |
| 2021-07-01 |        34.0       |
| 2021-06-01 |        18.0       |
| 2021-03-01 |        12.0       |
+------------+-------------------+

# 8. ¿Cuál es el promedio de personas inscritas por día? Toma en consideración que la base de datos tiene un registro de 8 días, es decir, se obtendrán 8 promedios.

In [23]:
%%sql
SELECT fecha, ROUND(AVG(cantidad), 1) AS inscritos_por_dia FROM inscritos
GROUP BY fecha
ORDER BY inscritos_por_dia DESC;

Running query in 'postgresql://postgres:***@localhost/desafio03'

8 rows affected.

+------------+-------------------+
|   fecha    | inscritos_por_dia |
+------------+-------------------+
| 2021-08-01 |        91.0       |
| 2021-02-01 |        60.0       |
| 2021-03-01 |        51.5       |
| 2021-01-01 |        50.0       |
| 2021-04-01 |        46.5       |
| 2021-05-01 |        44.0       |
| 2021-07-01 |        29.0       |
| 2021-06-01 |        15.0       |
+------------+-------------------+

# 9. ¿Qué días se inscribieron más de 50 personas?

In [14]:
%%sql
SELECT fecha
FROM inscritos
GROUP BY fecha
HAVING SUM(cantidad) > 50
ORDER BY fecha;

Running query in 'postgresql://postgres:***@localhost/desafio03'

7 rows affected.

+------------+
|   fecha    |
+------------+
| 2021-01-01 |
| 2021-02-01 |
| 2021-03-01 |
| 2021-04-01 |
| 2021-05-01 |
| 2021-07-01 |
| 2021-08-01 |
+------------+

In [20]:
%%sql
SELECT fecha, SUM (cantidad) AS inscritos_por_dia
FROM inscritos
GROUP BY fecha
HAVING SUM(cantidad) > 50
ORDER BY fecha;

Running query in 'postgresql://postgres:***@localhost/desafio03'

7 rows affected.

+------------+-------------------+
|   fecha    | inscritos_por_dia |
+------------+-------------------+
| 2021-01-01 |        100        |
| 2021-02-01 |        120        |
| 2021-03-01 |        103        |
| 2021-04-01 |         93        |
| 2021-05-01 |         88        |
| 2021-07-01 |         58        |
| 2021-08-01 |        182        |
+------------+-------------------+

In [12]:
%%sql
SELECT * FROM (
    SELECT fecha, SUM (cantidad) AS inscritos_por_dia
    FROM inscritos
    GROUP BY fecha
    ORDER BY fecha
) AS resultado
WHERE resultado.inscritos_por_dia > 50;

Running query in 'postgresql://postgres:***@localhost/desafio03'

7 rows affected.

+------------+-------------------+
|   fecha    | inscritos_por_dia |
+------------+-------------------+
| 2021-01-01 |        100        |
| 2021-02-01 |        120        |
| 2021-03-01 |        103        |
| 2021-04-01 |         93        |
| 2021-05-01 |         88        |
| 2021-07-01 |         58        |
| 2021-08-01 |        182        |
+------------+-------------------+

# 10. ¿Cuál es el promedio por día de personas inscritas? Considerando sólo calcular desde el tercer día

In [25]:
%%sql
SELECT fecha, ROUND(AVG(cantidad), 1) AS promedio_diario
FROM inscritos
WHERE fecha >= '2021-03-01'
GROUP BY fecha
ORDER BY fecha;

Running query in 'postgresql://postgres:***@localhost/desafio03'

6 rows affected.

+------------+-----------------+
|   fecha    | promedio_diario |
+------------+-----------------+
| 2021-03-01 |       51.5      |
| 2021-04-01 |       46.5      |
| 2021-05-01 |       44.0      |
| 2021-06-01 |       15.0      |
| 2021-07-01 |       29.0      |
| 2021-08-01 |       91.0      |
+------------+-----------------+