In [1]:
from sqlalchemy import create_engine

%load_ext sql
%config SqlMagic.displaylimit = None

drivername = "postgresql"
username = "postgres"
password = "postgres"
host = "localhost"
port = "5432"
# database = "postgres"
database = "desafio04"

db_url = f"{drivername}://{username}:{password}@{host}/{database}"
engine = create_engine(db_url)

%sql engine

displaylimit: Value None will be treated as 0 (no limit)

```sql
create database desafio04;
```

# 1. Creacion de tablas e ingreso de registros

## usuarios

In [2]:
%%sql
CREATE TABLE usuarios (
    id SERIAL,
    email VARCHAR,
    nombre VARCHAR,
    apellido VARCHAR,
    rol VARCHAR
    );

INSERT INTO usuarios(id, email, nombre, apellido, rol)
VALUES
(DEFAULT, 'juan@mail.com', 'juan', 'perez', 'administrador'),
(DEFAULT,'diego@mail.com', 'diego', 'munoz', 'usuario'),
(DEFAULT,'maria@mail.com', 'maria', 'meza', 'usuario'),
(DEFAULT,'roxana@mail.com','roxana', 'diaz', 'usuario'),
(DEFAULT,'pedro@mail.com', 'pedro', 'diaz', 'usuario');

Running query in 'postgresql://postgres:***@localhost/desafio04'

5 rows affected.

++
||
++
++

## posts

In [3]:
%%sql
CREATE TABLE posts (
    id SERIAL,
    titulo VARCHAR,
    contenido TEXT,
    fecha_creacion DATE,
    fecha_actualizacion DATE,
    destacado BOOLEAN,
    usuario_id BIGINT
    );

INSERT INTO posts (
    id, titulo, contenido, fecha_creacion, fecha_actualizacion, destacado, usuario_id)
VALUES
(DEFAULT, 'prueba', 'contenido prueba', '01/01/2021', '01/02/2021', true, 1),
(DEFAULT, 'prueba2', 'contenido prueba2', '01/03/2021', '01/03/2021', true, 1),
(DEFAULT, 'ejercicios', 'contenido ejercicios', '02/05/2021', '03/04/2021', true, 2),
(DEFAULT, 'ejercicios2', 'contenido ejercicios2', '03/05/2021', '04/04/2021', false, 2),
(DEFAULT, 'random', 'contenido random', '03/06/2021', '04/05/2021', false, null);

Running query in 'postgresql://postgres:***@localhost/desafio04'

5 rows affected.

++
||
++
++

## comentarios

In [4]:
%%sql
CREATE TABLE comentarios (
    id SERIAL,
    contenido VARCHAR,
    fecha_creacion DATE,
    usuario_id BIGINT,
    post_id BIGINT
    );

INSERT INTO comentarios (id, contenido, fecha_creacion, usuario_id, post_id)
VALUES
(DEFAULT, 'comentario 1', '03/06/2021', 1, 1),
(DEFAULT, 'comentario 2', '03/06/2021', 2, 1),
(DEFAULT, 'comentario 3', '04/06/2021', 3, 1),
(DEFAULT, 'comentario 4', '04/06/2021', 1, 2),
(DEFAULT, 'comentario 5', '04/06/2021', 2, 2);

Running query in 'postgresql://postgres:***@localhost/desafio04'

5 rows affected.

++
||
++
++

# Tablas

In [10]:
%%sql
select * from usuarios;

Running query in 'postgresql://postgres:***@localhost/desafio04'

5 rows affected.

+----+-----------------+--------+----------+---------------+
| id |      email      | nombre | apellido |      rol      |
+----+-----------------+--------+----------+---------------+
| 1  |  juan@mail.com  |  juan  |  perez   | administrador |
| 2  |  diego@mail.com | diego  |  munoz   |    usuario    |
| 3  |  maria@mail.com | maria  |   meza   |    usuario    |
| 4  | roxana@mail.com | roxana |   diaz   |    usuario    |
| 5  |  pedro@mail.com | pedro  |   diaz   |    usuario    |
+----+-----------------+--------+----------+---------------+

In [9]:
%%sql
select * from posts;

Running query in 'postgresql://postgres:***@localhost/desafio04'

5 rows affected.

+----+-------------+-----------------------+----------------+---------------------+-----------+------------+
| id |    titulo   |       contenido       | fecha_creacion | fecha_actualizacion | destacado | usuario_id |
+----+-------------+-----------------------+----------------+---------------------+-----------+------------+
| 1  |    prueba   |    contenido prueba   |   2021-01-01   |      2021-01-02     |    True   |     1      |
| 2  |   prueba2   |   contenido prueba2   |   2021-01-03   |      2021-01-03     |    True   |     1      |
| 3  |  ejercicios |  contenido ejercicios |   2021-02-05   |      2021-03-04     |    True   |     2      |
| 4  | ejercicios2 | contenido ejercicios2 |   2021-03-05   |      2021-04-04     |   False   |     2      |
| 5  |    random   |    contenido random   |   2021-03-06   |      2021-04-05     |   False   |    None    |
+----+-------------+-----------------------+----------------+---------------------+-----------+------------+

In [11]:
%%sql
select * from comentarios;

Running query in 'postgresql://postgres:***@localhost/desafio04'

5 rows affected.

+----+--------------+----------------+------------+---------+
| id |  contenido   | fecha_creacion | usuario_id | post_id |
+----+--------------+----------------+------------+---------+
| 1  | comentario 1 |   2021-03-06   |     1      |    1    |
| 2  | comentario 2 |   2021-03-06   |     2      |    1    |
| 3  | comentario 3 |   2021-04-06   |     3      |    1    |
| 4  | comentario 4 |   2021-04-06   |     1      |    2    |
| 5  | comentario 5 |   2021-04-06   |     2      |    2    |
+----+--------------+----------------+------------+---------+

## 2. Cruza los datos de la tabla usuarios y posts
Mostrando las siguientes columnas: nombre y email del usuario junto al título y contenido del post.

In [12]:
%%sql
SELECT usuarios.nombre, usuarios.email, posts.titulo, posts.contenido
FROM usuarios JOIN posts
ON usuarios.id = posts.usuario_id;

Running query in 'postgresql://postgres:***@localhost/desafio04'

4 rows affected.

+--------+----------------+-------------+-----------------------+
| nombre |     email      |    titulo   |       contenido       |
+--------+----------------+-------------+-----------------------+
|  juan  | juan@mail.com  |    prueba   |    contenido prueba   |
|  juan  | juan@mail.com  |   prueba2   |   contenido prueba2   |
| diego  | diego@mail.com |  ejercicios |  contenido ejercicios |
| diego  | diego@mail.com | ejercicios2 | contenido ejercicios2 |
+--------+----------------+-------------+-----------------------+

## 3. Muestra el id, título y contenido de los posts de los administradores
El administrador puede ser cualquier id y debe ser seleccionado dinámicamente.

In [13]:
%%sql
SELECT posts.id, posts.titulo, posts.contenido
FROM usuarios JOIN posts
ON usuarios.id = posts.usuario_id
WHERE usuarios.rol = 'administrador';

Running query in 'postgresql://postgres:***@localhost/desafio04'

2 rows affected.

+----+---------+-------------------+
| id |  titulo |     contenido     |
+----+---------+-------------------+
| 1  |  prueba |  contenido prueba |
| 2  | prueba2 | contenido prueba2 |
+----+---------+-------------------+

## 4. Cuenta la cantidad de posts de cada usuario.
Mostrar el id y email del usuario junto con la cantidad de posts de cada usuario.

Hint: Aquí hay diferencia entre utilizar inner join, left join o right join, prueba con ambas y con eso determina cuál es la correcta. No da lo mismo desde cuál tabla partes.

In [15]:
%%sql
SELECT usuarios.id, usuarios.email, COUNT(posts.id)
FROM usuarios LEFT JOIN posts
ON usuarios.id = posts.usuario_id
GROUP BY usuarios.id, usuarios.email
ORDER BY usuarios.id;

Running query in 'postgresql://postgres:***@localhost/desafio04'

5 rows affected.

+----+-----------------+-------+
| id |      email      | count |
+----+-----------------+-------+
| 1  |  juan@mail.com  |   2   |
| 2  |  diego@mail.com |   2   |
| 3  |  maria@mail.com |   0   |
| 4  | roxana@mail.com |   0   |
| 5  |  pedro@mail.com |   0   |
+----+-----------------+-------+

## 5. Muestra el email del usuario que ha creado más posts
Aquí la tabla resultante tiene un único registro y muestra solo el email.

In [16]:
%%sql
SELECT usuarios.email
FROM posts JOIN usuarios
ON posts.usuario_id = usuarios.id
GROUP BY usuarios.id, usuarios.email
ORDER BY COUNT(posts.id) DESC;

Running query in 'postgresql://postgres:***@localhost/desafio04'

2 rows affected.

+----------------+
|     email      |
+----------------+
| diego@mail.com |
| juan@mail.com  |
+----------------+

## 6. Muestra la fecha del último post de cada usuario
Utiliza la función de agregado MAX sobre la fecha de creación.

In [18]:
%%sql
SELECT nombre, MAX(fecha_creacion)
FROM (
    SELECT posts.contenido, posts.fecha_creacion, usuarios.nombre
    FROM usuarios JOIN posts
    ON usuarios.id = posts.usuario_id
    ) AS p
GROUP BY p.nombre;

Running query in 'postgresql://postgres:***@localhost/desafio04'

2 rows affected.

+--------+------------+
| nombre |    max     |
+--------+------------+
| diego  | 2021-03-05 |
|  juan  | 2021-01-03 |
+--------+------------+

## 7. Muestra el título y contenido del post con más comentarios

In [19]:
%%sql
SELECT titulo, contenido
FROM posts JOIN (
    SELECT post_id, COUNT(post_id)
    FROM comentarios
    GROUP BY post_id
    ORDER BY count DESC
    LIMIT 1
    ) AS c
ON posts.id = c.post_id;

Running query in 'postgresql://postgres:***@localhost/desafio04'

1 rows affected.

+--------+------------------+
| titulo |    contenido     |
+--------+------------------+
| prueba | contenido prueba |
+--------+------------------+

## 8. Muestra en el título y el contenido de cada post junto con el contenido de cada comentario
Asociado a los post mostrados, junto con el email del usuario que lo escribió.

In [21]:
%%sql
SELECT
    posts.titulo as titulo_post,
    posts.contenido as contenido_post,
    comentarios.contenido as contenido_comentario,
    usuarios.email
FROM posts JOIN comentarios
ON posts.id = comentarios.post_id
JOIN usuarios
ON comentarios.usuario_id = usuarios.id;

Running query in 'postgresql://postgres:***@localhost/desafio04'

5 rows affected.

+-------------+-------------------+----------------------+----------------+
| titulo_post |   contenido_post  | contenido_comentario |     email      |
+-------------+-------------------+----------------------+----------------+
|    prueba   |  contenido prueba |     comentario 1     | juan@mail.com  |
|    prueba   |  contenido prueba |     comentario 2     | diego@mail.com |
|    prueba   |  contenido prueba |     comentario 3     | maria@mail.com |
|   prueba2   | contenido prueba2 |     comentario 4     | juan@mail.com  |
|   prueba2   | contenido prueba2 |     comentario 5     | diego@mail.com |
+-------------+-------------------+----------------------+----------------+

## 9. Muestra el contenido del último comentario de cada usuario

In [22]:
%%sql
SELECT fecha_creacion, contenido, usuario_id
FROM comentarios as c JOIN usuarios as u
ON c.usuario_id = u.id
WHERE c.fecha_creacion = (
    SELECT MAX(fecha_creacion)
    FROM comentarios
    WHERE usuario_id = u.id
    );

Running query in 'postgresql://postgres:***@localhost/desafio04'

3 rows affected.

+----------------+--------------+------------+
| fecha_creacion |  contenido   | usuario_id |
+----------------+--------------+------------+
|   2021-04-06   | comentario 4 |     1      |
|   2021-04-06   | comentario 5 |     2      |
|   2021-04-06   | comentario 3 |     3      |
+----------------+--------------+------------+

# 10. Muestra los emails de los usuarios que no han escrito ningún comentario
Recuerda el Having

In [23]:
%%sql
SELECT usuarios.email
FROM usuarios LEFT JOIN comentarios
ON usuarios.id = comentarios.usuario_id
GROUP BY usuarios.email
HAVING COUNT(comentarios.id) = 0;

Running query in 'postgresql://postgres:***@localhost/desafio04'

2 rows affected.

+-----------------+
|      email      |
+-----------------+
| roxana@mail.com |
|  pedro@mail.com |
+-----------------+